<div class="button {{nullishCoalescing class}}">
  {{#if icon}}
    <div class="icon-wrapper">{{gurpsIcon icon}}</div>
  {{/if}}
  {{#if alternativeIcon}}
    <div class="icon-wrapper alternative">{{gurpsIcon alternativeIcon}}</div>
  {{/if}}

  {{#if label}}
    <div class="label">{{label}}</div>
  {{else}}
    <div class="label">{{> @partial-block}}</div>
  {{/if}}
</div>