<form class='{{cssClass}}' autocomplete='off'>
  {{group true '%c [xii/gurps-mobile/actor-sheet] INFO    %c RENDERING mobile-actor-sheet.hbs ' 'padding-left: 4px;' 'background-color: rgba(255, 0, 0, 0.85); color: white; font-weight: bold;'}}
  {{log '[xii/gurps-mobile]' '   (handlebars) ' this level='error'}}
  {{log '[xii/gurps-mobile]' '        (actor) ' actor level='error'}}
  {{log '[xii/gurps-mobile]' '    (maneuvers) ' maneuvers level='error'}}
  {{log '[xii/gurps-mobile]' '     (maneuver) ' actor.flags.gurps.mobile.lastManeuver data.conditions level='error'}}
  {{log '[xii/gurps-mobile]' '(last-maneuver) ' data.conditions.maneuver level='error'}}
  {{log '[xii/gurps-mobile]' '      (feature) ' tabs level='error'}}
  {{groupend}}

  {{> mobile-actor-sheet/header}}
  {{> mobile-actor-sheet/stack}}
</form>