<form class='{{cssClass}}' autocomplete='off'>
  {{log '[xii/gurps-mobile]' '   (handlebars) ' this level='error'}}
  {{log '[xii/gurps-mobile]' '        (actor) ' actor level='error'}}
  {{log '[xii/gurps-mobile]' '    (maneuvers) ' maneuvers level='error'}}
  {{log '[xii/gurps-mobile]' '     (maneuver) ' actor.flags.gurps.mobile.lastManeuver data.conditions level='error'}}
  {{log '[xii/gurps-mobile]' '(last-maneuver) ' data.conditions.maneuver level='error'}}
  {{log '[xii/gurps-mobile]' '      (feature) ' tabs level='error'}}

  {{> mobile-actor-sheet/header}}
  {{> mobile-actor-sheet/stack}}
</form>