<div class="actions {{nullishCoalescing classes}}">
  <div class="children">
    <div class="wrapper horizontal">
      <div class="action">
        {{gurpsIcon 'skill'}}
      </div>
      <div class="action">
        {{gurpsIcon 'skill'}}
      </div>
      <div class="action">
        {{gurpsIcon 'skill'}}
      </div>
      <div class="action">
        {{gurpsIcon 'skill'}}
      </div>
      <div class="action">
        {{gurpsIcon 'skill'}}
      </div>
    </div>

    <div class="divider"></div>

    <div class="wrapper">
      <div class="action">
        {{gurpsIcon 'skill'}}
      </div>
      <div class="action">
        {{gurpsIcon 'skill'}}
      </div>
    </div>
  </div>
</div>