<div class="card">
  {{!-- {{#> components/cards/action classes="left"}}{{/components/cards/action}} --}}

  <div class="variants">
    <div class="card-variant has-icon has-value">
      {{!-- <div class="chevron prev"><i class="icon mdi mdi-chevron-left"></i></div> --}}

      <div class="content-wrapper">
        <div class="content">
          <!-- ICON -->
          {{!-- {{#if icon}} --}}
            <div class="icon">
              <div class="wrapper">
                <div class="icon main">{{gurpsIcon 'skill'}}</div>
                <div class="icon secondary">{{gurpsIcon 'advantage'}}</div>
              </div>  
            </div>
          {{!-- {{/if}} --}}
          <!-- TITLE -->
          <div class="title">
            <!-- TITLE.TRAY -->
            <div class="tray">
              <div class="children">
                <div class="icon-wrapper pin"><i class="icon mdi mdi-pin"></i></div>
              </div>
            </div>
            <!-- TITLE.MAIN -->
            <span>Trait Main Title</span>
          </div>
          <!-- SUBTITLE -->
          <div class="subtitle">
            Trait Subtitle
          </div>
          <!-- EXPAND -->
          <div class="expand">
            <i class="expand icon mdi mdi-chevron-down"></i>
            <i class="collapse icon mdi mdi-chevron-up"></i>
          </div>
          <!-- VALUE -->
          {{!-- {{#if value}} --}}
          <div class="label roll compact" data-roll-step="0">
            Label
          </div>
          <div class="value roll-wrapper compact">
            {{#> components/cards/roll}}{{/components/cards/roll}}
          </div>
          {{!-- {{/if}} --}}
          <!-- WHEEL -->
            {{#> components/cards/wheel}}{{/components/cards/wheel}}
          <!-- STATS -->
          {{!-- {{#if stats}}
            <div class="stats {{isNilOrEmpty stats 'hidden'}}">
              {{#each stats}}
                <div class="row">
                  {{#each this}}
                    <div class="stat {{join classes}} {{isNilOrEmpty roll 'non-interactible'}}" data-roll-step="{{roll}}">
                      <div class="icon-wrapper {{isNilOrEmpty this.icon 'hidden'}}">
                        {{#each this.icon}}
                          {{gurpsIcon this}}
                        {{/each}}
                      </div>
                      <div class="label {{isNilOrEmpty this.label 'hidden'}}">{{this.label}}</div>
                      <div class="value">{{this.value}}</div>
                    </div>
                  {{/each}}
                </div>
              {{/each}}
            </div>
          {{/if}} --}}
          <!-- ROLLS -->
          {{!-- {{#if rolls}}
            <div class="rolls {{#if (gt rolls.length 0)}}at-first{{/if}} {{#if (eq rolls.length 1)}}at-last{{/if}} {{isNilOrEmpty stats 'hidden'}}" data-selected="0">
              <div class="background"></div>
              <div class="previous"><div class="icon"><i class="mdi mdi-circle-medium"></i></div></div>
              <div class="wrapper">
                {{#each rolls}}
                  <div class="roll {{join classes}} roll-wrapper interactible" data-step="{{step}}">
                    <div class="content-wrapper">
                      {{#each content}}
                        <div class="content">
                          <div class="primary {{isNilOrEmpty primary 'hidden'}}">{{primary}}</div>
                          <div class="secondary {{isNilOrEmpty secondary 'hidden'}}">{{secondary}}</div>
                          <div class="tertiary {{isNilOrEmpty tertiary 'hidden'}}">{{tertiary}}</div>
                        </div>
                      {{/each}}
                    </div>
                    {{> gurps/feature_roll this}}
                  </div>
                {{/each}}
              </div>
              <div class="next"><div class="icon"><i class="mdi mdi-circle-medium"></i></div></div>
            </div>
          {{/if}} --}}
          <!-- NOTES -->
          <div class="notes"> 
            {{!-- {{#each notes}}<p>{{this}}</p>{{/each}} --}}
            <p>Lorem Ipsum Dolor sit amet consectetur adipscit elit</p>
            <p>Lorem Ipsum Dolor sit amet consectetur adipscit elit</p>
            <p>Lorem Ipsum Dolor sit amet consectetur adipscit elit</p>
          </div>
          <!-- TAGS -->
          {{!-- <div class="tags">
            <div class="children">
              <div class="tag">TAG</div>
              <div class="tag">TAG</div>
              <div class="tag">TAG</div>
            </div>
          </div> --}}
        </div>
      </div>

      {{!-- <div class="chevron next"><i class="icon mdi mdi-chevron-right"></i></div> --}}
    </div>
  </div>

  {{!-- {{#> components/cards/action classes="right"}}{{/components/cards/action}} --}}
</div>