<div class="status">
  <div class="icon-wrapper">{{gurpsIcon 'attack'}}</div>
  <div class="label">Label</div>
  <div class="value"><span>↑</span>10<i>HP</i></div>
</div>



{{!-- {{#each status}}
    {{#if this.spacer}}
      <div class="spacer"><svg viewBox="0 0 2 2" fill="currentColor"><circle cx="1" cy="1" r="1" /></svg></div>
    {{else}}
    <div class="header">
      <div class="label">{{this.header}}</div>
      <div class="children">
        {{#each this.children}}
          <div class="status {{equals true this.main 'main'}} {{equals true this.tray 'tray'}} {{equals undefined this.value 'no-value'}}">
            <i class="icon-wrapper">{{gurpsIcon icon}}</i>
            <div class="label">{{this.label}}</div>
            <div class="value">{{{this.value}}}</div>
          </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
{{/each}} --}}