<div class="stack traits light">
  <div class="label">Traits</div>
  <div class="holder"></div>
  
  <div class="tabs" data-value="{{oocTab}}">
    <div class="tab {{equals 'attribute' oocTab 'selected'}}" data-value="attribute">
      <div class="wrapper-icon">
        <i class="icon">{{gurpsIcon 'attribute'}}</i>
      </div>
      <svg class="tag" viewBox="0 0 2 2" fill="currentColor"><circle cx="1" cy="1" r="1" /></svg>
    </div>
    <div class="tab {{equals 'advantage' oocTab 'selected'}}" data-value="advantage">
      <div class="wrapper-icon">
        <i class="icon">{{gurpsIcon 'advantage'}}</i>
      </div>
      <svg class="tag" viewBox="0 0 2 2" fill="currentColor"><circle cx="1" cy="1" r="1" /></svg>
    </div>
    <div class="tab {{equals 'skill' oocTab 'selected'}}" data-value="skill">
      <div class="wrapper-icon">
        <i class="icon">{{gurpsIcon 'skill'}}</i>
      </div>
      <svg class="tag" viewBox="0 0 2 2" fill="currentColor"><circle cx="1" cy="1" r="1" /></svg>
    </div>
    <div class="tab {{equals 'spell' oocTab 'selected'}}" data-value="spell">
      <div class="wrapper-icon">
        <i class="icon">{{gurpsIcon 'spell'}}</i>
      </div>
      <svg class="tag" viewBox="0 0 2 2" fill="currentColor"><circle cx="1" cy="1" r="1" /></svg>
    </div>
    <div class="tab {{equals 'equipment' oocTab 'selected'}}" data-value="equipment">
      <div class="wrapper-icon">
        <i class="icon">{{gurpsIcon 'equipment'}}</i>
      </div>
      <svg class="tag" viewBox="0 0 2 2" fill="currentColor"><circle cx="1" cy="1" r="1" /></svg>
    </div>
  </div>
</div>